<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XLDoctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D5E5A0D21095A0100E508B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5E5A2521095A0600E508B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5E5A3021095A0600E508B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
